

.jumbotron{
    background-image: url(img/slide1.jpg);
    color: aliceblue;
    padding: 160px 25px;
}
.bg-grey{
    background-color:cornsilk;
} 
.container-fluid{
      padding: 60px 250px;
}
.logo{
    font-size: 200px;
    color: #7b2020;
}
.logo-small{
    font-size: 50px;
    color: #7b2020;
}
.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
   
}
.thumbnail img{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    transition: width 0.5s;
    filter: blur(1px);
}
.thumbnail img:hover{
    cursor: pointer;
    width: 95%;
    filter: blur(0);
    
}

/* CAROUSEL STYLEE */
.carousel-control.right, .carousel-control.left{
    background-image: none;
        color: #7b2020;

}
.carousel-indicators li{
    border-color: #7b2020;  
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4{
    line-height: 1.4em;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    margin: 70px;
}
.navbar {
    margin-bottom: 0;
    background-color: #1b0111;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    opacity: 0.7;
}
.navbar-brand span{
    color:darkorange;
    font-style: bold;
    font-weight: 800;
    font-family: fantasy;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color:aliceblue !important;
    background-color: #7b2020 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/* PANEL STYLE */
.panel{
    border: 1px solid #7b2020;
    border-radius: 2px;
    transition: box-shadow 0.5s;    
}
.panel:hover{
    box-shadow: 7px 0px 56px rgba(0,0,0, .3);
}

.panel-heading{
    color: lemonchiffon !important;
    background: #7b2020 !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: azure !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #7b2020;
    color: #fff;
    transition: background-color ease 0.5s;
}
.panel-footer .btn:hover{
    background-color: #fff !important; 
    color: #7b2020;
    border: 1px solid #7b2020;
    border-radius: 4px;
}


@media screen and (max-width: 786px){
    .col-sm-4{
        text-align: center;
        margin: 25px 0;
    }
}